@import url('https://fonts.googleapis.com/css?family=Pacifico');

:root {
  --orange: #ff4a00;
}

.trello {
  display: inline-block;
}

.btn {
  background-color: var(--orange);
  border-bottom: 5px solid var(--orange);
  text-shadow: 0px -2px #8b8684;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
}

.btn:active {
  transform: translate(0px,5px);
  border-bottom: 1px solid;
}

.btn:hover {
  cursor: pointer;
}

.msg {
  font-weight: bold;
  font-size: 20px;
}